<!-- Menu de sélection de playlist -->
<div class="col-md-3 col-xs-12 content" id="playlists" > 
    <h3>Playlists 
        <!-- Bouton permettant d'afficher le modal de creation de playlist -->
        <a class="btn btn-default playlist-play-button" href="#" role="button" data-toggle="modal" data-target="#modalPlaylist">
            <span class="glyphicon glyphicon-plus-sign"></span>
        </a>
    </h3>
    
    <!-- Les playlist seront affichées dans cette partie sous forme de menus déroulants -->
    <div class="panel-group" id="accordion" role="tablist">

    </div>
</div>
