<!-- le footer de la page -->
<!--<div class="footer" >

    <p>Denis, Burteaux, Mahfouf, Rouselle L3 MIAGE</p>

</div>-->

<!-- importation des scripts -->
<script type="text/javascript" src="view/script/search.js"></script>
<script type="text/javascript" src="view/script/player.js"></script>
<script type="text/javascript" src="view/script/artist.js"></script>
<script type="text/javascript" src="view/script/playlists.js"></script>
<script type="text/javascript" src="view/script/default.js"></script>
<script type="text/javascript" src="view/script/user.js"></script>
<script type="text/javascript" src="view/script/subscribe.js"></script>
