<head>
    <!-- Importations -->
    
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="lib/bootstrap-3.3.1/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="lib/bootstrap-3.3.1/css/bootstrap.min.css">
    <!-- CSS perso -->
    <link rel="stylesheet" href="view/css/style.css">
    <link rel="stylesheet" href="view/css/navbar.css">
    <link rel="stylesheet" href="view/css/artist.css">
    <link rel="stylesheet" href="view/css/track.css">
    <link rel="stylesheet" href="view/css/playlist.css">
    <link rel="stylesheet" href="view/css/footer.css">
    <link rel="stylesheet" href="view/css/content.css">

    <!-- JQuery -->
    <script src="lib/jquery-1.11.1.min.js"></script>
    <!-- Boostrap Javascript -->
    <script src="lib/bootstrap-3.3.1/js/bootstrap.min.js"></script>
    
    <!-- Titre de la page -->
    <title>&#9835; &#9834;</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>